 <div class="container login-container">
 <div class="row d-flex justify-content-evenly align-items-center">
   <div class="col-md-4">
<h1>COVID-19</h1>
 </div>
<div class="col-md-4">


<mat-card class="form-card  text-center"> 
    <mat-card-content>
      <form [formGroup]="loginFormControl" (ngSubmit)="submitLogin()" class="" novalidate>
        <mat-form-field class="full-width">
          <mat-label>username</mat-label>
          <input type="text" matInput formControlName="username" 
                 placeholder="Ex. pat@example.com">
                 <div *ngIf="getControl.username.touched && getControl.username.invalid" class="text-danger">
                  <!-- <div *ngIf="getControl.username.errors.required">username is required.</div> -->
                </div>
        </mat-form-field>
        

        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" >
          <mat-error *ngIf="getControl.password.touched && getControl.password.invalid">
            <!-- <div *ngIf="getControl.password.errors.required">username is required.</div> -->
          </mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button  type="submit" mat-button>Login</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
    
  </mat-card>
</div>
</div>
</div> 