<!-- <mat-toolbar color="primary" >
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()"  aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span></span>
    <span class="example-spacer"></span>
  </mat-toolbar> -->

<mat-sidenav-container class="example-container" >
  <mat-sidenav #drawer class="example-sidenav" color="primary" mode="side" [fixedInViewport]="false" [autoFocus]="true" [opened]="true" >
	<mat-list>
		<mat-list-item><a routerLink="dashboard"> <span class="material-icons">
      dashboard
      </span></a> </mat-list-item>
		<mat-list-item> <a routerLink="countries"><span class="material-icons">
      flag
      </span></a> </mat-list-item>
	   </mat-list>
     <mat-list-item>
       <a>
     <span class="material-icons">
      exit_to_app
      </span>   </a>
      </mat-list-item>
 
  </mat-sidenav>
  <div class="container p-4">
  <router-outlet></router-outlet>
</div>
</mat-sidenav-container>




